---
import type { Carousel as Props } from '~/types';
import imageDefault from '~/assets/images/default-ui-image.webp'; 

const { items: images = [] } = Astro.props;
---

<div class="swiper">
  <div class="swiper-wrapper" id="my-slider">
    {
      images.map((image, index) => (
        <a
          class="swiper-slide"
          data-pswp-width="800"
          data-pswp-height="800"
          target="_blank"
          data-cropped="true"
        >
          <img src={image.imgSrc ?? imageDefault} alt={image.imgAlt ?? `Imagen ${index + 1}`} />
        </a>
      ))
    }
  </div>
  <!-- Botones de navegación -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<style>
  .swiper-slide {
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
  }
  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (max-width: 768px) {
    .swiper-slide {
      width: 70%; /* Cuando slidesPerView es "auto" */
      height: 400px;
    }
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 10px;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: '';
  }
</style>

<script type="module">
  import Swiper from'swiper/core' 
  import { Navigation } from 'swiper/modules';
  import 'swiper/css';
  import 'swiper/css/navigation';

  import PhotoSwipeLightbox from 'photoswipe/lightbox';
  import 'photoswipe/style.css';

  // Inicialización de Swiper

  const swiper = new Swiper('.swiper', {
    modules: [Navigation],
    loop: true,
    slidesPerView: 'auto',
    spaceBetween: 20,
    breakpoints: {
      768: {
        slidesPerView: 2,
        spaceBetween: 30,
      },
      1024: {
        slidesPerView: 3,
        spaceBetween: 40,
      },
    },
    navigation: {
      prevEl: '.swiper-button-prev',
      nextEl: '.swiper-button-next',
    },
  });

  // Inicialización de Photoswipe
  const lightbox = new PhotoSwipeLightbox({
    gallery: '#my-slider',
    children: 'a',
    pswpModule: () => import('photoswipe'),
  });
  lightbox.init();
</script>
