---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'À propos',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="À propos"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Image de nettoyage',
    }}
  >
    <Fragment slot="title">
      Bienvenue chez <br />
      <span class="text-accent dark:text-white highlight">Services Élite JC</span>
    </Fragment>

    <Fragment slot="subtitle">
      Votre satisfaction, notre priorité absolue. Chez Services Élite JC, nous comprenons que votre temps est précieux. Alors, nous nous engageons à vous offrir un service d'entretien ménager de qualité supérieure qui vous libère des tâches domestiques ou professionnelles.
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Statistiques sur nous"
    stats={[
      { title: 'Clients satisfaits', amount: '500+' },
      { title: 'Années d\'expérience', amount: '15' },
      { title: 'Projets complétés', amount: '1K+' },
      { title: 'Équipe', amount: '50+' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Notre mission"
    subtitle="Que ce soit pour votre résidence ou votre entreprise, notre équipe dévouée et professionnelle s’engage à créer un environnement propre, sain et accueillant. Nous adoptons nos services pour combler vos besoins spécifiques, afin que vous puissiez toujours vous sentir confortable et confiant dans un espace impeccable. Votre tranquillité est le résultat visé par notre compagnie."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Résidences',
        description:
          'Nous offrons des services de nettoyage méticuleux pour maintenir votre maison propre et accueillante.',
        icon: 'tabler:template',
      },
      {
        title: 'Bureaux Professionnels',
        description:
          'Nous assurons un environnement de travail propre et sain pour améliorer la productivité et le bien-être.',
        icon: 'tabler:template',
      },
      {
        title: 'Locaux Commerciaux',
        description:
          'Nous fournissons des services de nettoyage adaptés aux besoins spécifiques de votre commerce.',
        icon: 'tabler:template',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Nos valeurs"
    subtitle="Chez Services Élite JC, nous mettons en avant nos valeurs pour garantir un service de qualité."
    items={[
      {
        title: 'Approche centrée sur le client',
        description:
          'Nous plaçons toujours le client au cœur de notre démarche pour offrir un service personnalisé et satisfaisant.',
      },
      {
        title: 'Amélioration constante',
        description:
          'Nous cherchons constamment à améliorer nos techniques et nos services pour rester à la pointe du secteur.',
      },
      {
        title: 'Pratiques éthiques',
        description:
          'Nous adoptons des pratiques respectueuses de l’environnement et de notre équipe pour un impact positif durable.',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Nos réalisations"
    subtitle="Découvrez les succès et les reconnaissances de Services Élite JC."
    isReversed={true}
    callToAction={{
      text: 'Voir plus',
      href: '/',
    }}
    items={[
      {
        title: 'Portée mondiale',
        description: 'Nous avons étendu nos services à différents pays, offrant une qualité uniforme partout.',
        icon: 'tabler:globe',
      },
      {
        title: 'Commentaires positifs des clients',
        description:
          'Nous avons reçu de nombreux avis positifs de la part de nos clients satisfaits.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Récompenses et reconnaissances',
        description:
          'Nous avons été reconnus par l’industrie pour notre excellence en services de nettoyage.',
        icon: 'tabler:award',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Nos emplacements"
    tagline="Trouvez-nous"
    columns={4}
    items={[
      {
        title: 'Montréal',
        description: '123 Rue Principale, Montréal, QC',
      },
      {
        title: 'Québec',
        description: '456 Avenue des Entreprises, Québec, QC',
      },
      {
        title: 'Laval',
        description: '789 Boulevard Industriel, Laval, QC',
      },
      {
        title: 'Gatineau',
        description: '1011 Rue du Commerce, Gatineau, QC',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Support technique"
    tagline="Contactez-nous"
    columns={2}
    items={[
      {
        title: 'Chattez avec nous',
        description:
          'Notre équipe est disponible pour répondre à vos questions et vous assister en temps réel.',
        icon: 'tabler:messages',
      },
      {
        title: 'Appelez-nous',
        description:
          'Nous sommes joignables par téléphone pour toute assistance ou demande d’information.',
        icon: 'tabler:headset',
      },
    ]}
  />
</Layout>
