---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import BannerForm from '~/components/pages/home/Banner-Form.astro';
import SliderServices from '~/components/pages/home/SliderServices.astro';


// images 
import ResidencesInmobilieres from '~/assets/images/ReSIDENCES-INMOBILIeRES.png';

const metadata = {
  title: 'Elite Service JC — Housekeeping',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <BannerForm />

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="CARACTÉRISTIQUES"
    title="Ce que vous obtenez avec JC Service"
    subtitle="Notre entreprise de nettoyage se distingue par ses services professionnels et complets. Nous sommes reconnus pour notre excellence et notre engagement envers la satisfaction de nos clients."
    items={[
      {
        title: 'FIABILITÉ',
        description:
          'La fiabilité de nos clients est très primordiale et importante pour nous, c’est en raison que nous nous engageons en tout moment à offrir un service 100% satisfaisant.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'PROFESSIONNALISME',
        description:
          'Chaque employé, membre de notre famille, compte avec une formation continue qui garantisse l’amélioration de leurs compétences. Par conséquent, le travail offert se maintient au niveau des attentes de nos clients.',
        icon: 'tabler:components',
      },
      {
        title: 'FLEXIBILITÉ',
        description:
          'Disponibilité en tout temps, les 24h. On est conscient que la disponibilité et la gestion du temps sont fondamentales pour nos clients. C’est pourquoi, on s’adapte à couvrir les vraies nécessités de chaque un.',
        icon: 'tabler:list-check',
      },
      {
        title: 'INNOVATION',
        description:
          'On travail constamment à l’amélioration de nos équipements et techniques de travail. On optimise nos capacités pour obtenir la qualité que nos clients méritent.',
        icon: 'tabler:rocket',
      },
      {
        title: 'BIODÉGRADABLES',
        description:
          'Un de nos fondements qui entoure notre éthique dans l’entreprise est d’ajouter de la valeur à notre société. On travaille pour promouvoir le respect de notre équipe envers la société et l’environnement avec l’utilisation des produits non-chimiques.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'INTÉGRITÉ',
        description:
          'La transparence et l’intégrité sont des principes essentiels dans notre communication avec nos clients. Nous nous engageons à offrir des prix raisonnables et compétitifs, accessibles pour vous.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- HighlightedPosts Widget ******* -->

  <SliderServices
    title="SECTEURS D'ACTIVITÉ"
    subtitle="Nous offrons des services de nettoyage spécialisés pour différents types d'installations, garantissant des résultats impeccables adaptés à chaque environnement."
    tagline="SECTEURS D'ACTIVITÉ"
    items={[
      {
        title: 'RÉSIDENCES INMOBILIÈRES',
        icon: 'flat-color-icons:template',
        imgSrc: ResidencesInmobilieres
      },
      {
        title: 'RÉSIDENCES D’AÎNÉS',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'BUREAUX PROFESSIONNELS',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'CENTRE DE SANTÉ',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'GARDERIES/ÉCOLES/CPE',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'LOCAUX COMMERCIAUX',
        icon: 'flat-color-icons:currency-exchange',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </SliderServices>

  {
    /** 
  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Inside template"
    title="AstroWind's Blueprint: Fun Meets Functionality!"
    items={[
      {
        title: 'Built on top of Astro 4.0',
        description:
          'Benefiting from the performance and developer-friendly features of this modern static site generator.',
      },
      {
        title: 'Styled using Tailwind CSS',
        description:
          'Facilitating rapid design and consistent styling with this highly popular utility-first CSS framework.',
      },
      {
        title: 'Cross-browser compatibility',
        description:
          'Ensure your website looks and functions consistently across various web browsers, delivering a seamless experience to all users.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
      Gain a competitive advantage by incorporating industry leading practices
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'High level of customization',
        description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      },
      {
        title: 'Multiple layout possibilities',
        description:
          'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
      {
        title: 'Fully responsive design',
        description:
          "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      },
      {
        title: 'Integration of media',
        description:
          'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get your dream website up and running in no time with AstroWind."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</em>',
        description:
          "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>
*/
  }
  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Questions Fréquemment Posées"
    subtitle="Trouvez des réponses aux questions courantes concernant nos services de nettoyage et découvrez comment JC Service peut répondre à vos besoins de manière efficace et professionnelle."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Pourquoi choisir JC Service ?',
        description:
          'JC Service se distingue par son engagement envers la satisfaction de ses clients, sa flexibilité, son professionnalisme, et son utilisation de techniques et produits innovants. Nous garantissons un service de nettoyage de haute qualité adapté à vos besoins spécifiques.',
      },
      {
        title: 'Quels types de services offrez-vous ?',
        description:
          'Nous offrons une gamme complète de services de nettoyage, y compris pour les résidences immobilières, les résidences d’aînés, les bureaux professionnels, les centres de santé, les garderies, les écoles et les locaux commerciaux.',
      },
      {
        title: 'Comment obtenir une soumission gratuite ?',
        description:
          'Pour obtenir une soumission gratuite, vous pouvez nous contacter au (514) 718-8772 ou remplir le formulaire sur notre site web. Un membre de notre équipe vous contactera rapidement pour discuter de vos besoins et vous fournir un devis personnalisé.',
      },
      {
        title: 'Quels produits de nettoyage utilisez-vous ?',
        description:
          'Nous utilisons des produits de nettoyage non chimiques et respectueux de l’environnement. Notre objectif est de garantir un nettoyage efficace tout en minimisant notre impact écologique.',
      },
      {
        title: "Proposez-vous des services de nettoyage d'urgence ?",
        description:
          'Oui, nous offrons des services de nettoyage d’urgence 24 heures sur 24, 7 jours sur 7. Nous comprenons que certains incidents nécessitent une intervention rapide et nous sommes prêts à répondre à ces besoins.',
      },
      {
        title: 'Vos employés sont-ils formés et assurés ?',
        description:
          'Tous nos employés reçoivent une formation continue pour garantir un service de haute qualité. De plus, ils sont assurés pour assurer votre tranquillité d’esprit en cas d’incidents.',
      },
      {
        title: 'Comment planifier un service de nettoyage régulier ?',
        description:
          'Vous pouvez planifier un service de nettoyage régulier en nous contactant directement. Nous travaillerons avec vous pour établir un calendrier de nettoyage qui répond à vos besoins et préférences.',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Clients satisfaits', amount: '500+' },
      { title: "Années d'expérience", amount: '15' },
      { title: 'Projets complétés', amount: '1K+' },
      { title: 'Équipe', amount: '50+' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Soumission gratuite',
        href: 'mailto:info@jcservice.com',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Services&nbsp;de&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Nettoyage Commercial</span>
    </Fragment>

    <Fragment slot="subtitle">
      Découvrez la qualité et l'efficacité de nos services de nettoyage professionnel. <br
        class="hidden md:inline"
      />N'attendez plus, contactez-nous dès aujourd'hui!
    </Fragment>
  </CallToAction>
</Layout>
