---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Services"
    title="SERVICES D’ENTRETIEN MÉNAGER RESIDENTIELS ET COMMERCIAUX"
    subtitle="Nos services d’entretien ménager pour votre domicile ou votre entreprise sont conçus pour vous offrir un milieu de vie ou de travail propice, tout en respectant votre confort personnel ou familial."
    actions={[{ variant:"primary", target: '_blank', text: 'Demander une estimation gratuite', href: '/' }]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Services Image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="SERVICES OFFERTS"
    subtitle="Découvrez nos services d'entretien pour répondre à tous vos besoins."
    columns={3}
    items={[
      {
        title: 'Lavage des vitres',
        description:
          "Un service complet pour des vitres impeccables, tant à l'intérieur qu'à l'extérieur.",
        icon: 'tabler:template',
      },
      {
        title: 'Décapage et cirage',
        description:
          'Nous redonnons vie à vos sols avec des techniques de décapage et de cirage professionnelles.',
        icon: 'tabler:template',
      },
      {
        title: 'Entretien d’espaces de bureaux et commerciaux',
        description:
          'Un service régulier ou ponctuel pour maintenir vos espaces de travail propres et accueillants.',
        icon: 'tabler:template',
      },
      {
        title: 'Entretien avant et après déménagement',
        description:
          'Assurez-vous que votre ancien et nouveau domicile soient impeccables avec notre service de nettoyage.',
        icon: 'tabler:template',
      },
      {
        title: 'Entretien après construction',
        description:
          'Nettoyage en profondeur des résidus et poussières post-construction pour un espace prêt à vivre.',
        icon: 'tabler:template',
      },
      {
        title: 'Désinfection des espaces communs',
        description:
          'Service de désinfection pour garantir des espaces communs sains et sécurisés.',
        icon: 'tabler:template',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Services Personnalisés',
        description:
          'Le Service Élite JC vous propose un travail en étroite collaboration avec vous pour élaborer un plan d’entretien adapté à vos attentes et à votre budget.',
        icon: 'tabler:template',
      },
      {
        title: 'Confidentialité et Fiabilité',
        description:
          'Notre équipe s’engage complètement à un nettoyage rigoureux en honorant notre confidentielité.',
        icon: 'tabler:template',
      },
      {
        title: 'Flexibilité des Fréquences',
        description:
          'Nous offrons des services ménagers à differentes fréquences telles qu’hebdomadaire, mensuel ou occasionnel.',
        icon: 'tabler:template',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Cleaning Service Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Pourquoi Nous Choisir?</h3>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Avis de nos clients"
    testimonials={[
      {
        testimonial: `Le service est impeccable et l'équipe est très professionnelle. Mon bureau n'a jamais été aussi propre!`,
        name: 'Jean Dupont',
        job: 'Entrepreneur',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'Jean Dupont Image',
        },
      },
      {
        testimonial: `Je recommande vivement Services Élite JC. Leur attention aux détails et leur souci de la confidentialité sont exceptionnels.`,
        name: 'Marie Leclerc',
        job: 'Particulier',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Marie Leclerc Image',
        },
      },
      {
        testimonial: `Après des travaux de rénovation, leur service de nettoyage après construction a rendu notre maison impeccable.`,
        name: 'Marc Moreau',
        job: 'Propriétaire de maison',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Marc Moreau Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'Plus d\'avis...',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[{
      variant: "primary",
      text: 'Demander une estimation gratuite',
      href: '/',
    }]}
    title="Contactez-nous pour un devis personnalisé"
    subtitle="Pour vos besoins spécifiques, nous vous proposons une estimation gratuite sur demande et sans aucun engagement de votre part."
  />
</Layout>
